In [1]:
# Part 1 - Create Summary Frame
# Total Rides
# Total Drivers
# Total Fares
# Average Fare per Ride
# Average Fare per Driver

In [2]:
#Prep
%matplotlib inline

import matplotlib as matplot
import matplotlib.pyplot as plt
import pandas as pd

cityData_toLoad = "Resources/city_data.csv"
cityDataDF = pd.read_csv(cityData_toLoad)

rideData_toLoad = "Resources/ride_data.csv"
rideDataDF = pd.read_csv(rideData_toLoad)

pyberDataDF = pd.merge(rideDataDF, cityDataDF, how="left", on=["city", "city"])
pyberDataDF

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban
...,...,...,...,...,...,...
2370,Michaelberg,2019-04-29 17:04:39,13.38,8550365057598,6,Rural
2371,Lake Latoyabury,2019-01-30 00:05:47,20.76,9018727594352,2,Rural
2372,North Jaime,2019-02-10 21:03:50,11.11,2781339863778,1,Rural
2373,West Heather,2019-05-07 19:22:15,44.94,4256853490277,4,Rural
2374,Newtonview,2019-04-25 10:20:13,55.84,9990581345298,1,Rural

In [3]:
#Split into separate DataFrames
urbanRidesDF = pyberDataDF[pyberDataDF["type"] == "Urban"]
suburbanRidesDF = pyberDataDF[pyberDataDF["type"] == "Suburban"]
ruralRidesDF = pyberDataDF[pyberDataDF["type"] == "Rural"]
urbanRidesDF

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban
...,...,...,...,...,...,...
1620,Reynoldsfurt,2019-02-14 11:25:10,39.40,9070692324754,67,Urban
1621,Christopherfurt,2019-03-13 01:47:52,32.05,2788817929605,41,Urban
1622,Raymondhaven,2019-03-20 02:20:34,38.53,8658255136559,11,Urban
1623,Port Johnbury,2019-03-26 07:22:45,7.63,8089282605778,3,Urban
1624,West Gabriel,2019-05-05 01:24:06,27.57,4428773411209,57,Urban

In [14]:
# Total Rides
totalRides = pyberDataDF.count()["ride_id"]
totalRidesSeries = pyberDataDF.groupby(["type"]).count()["ride_id"]
totalRidesSeries

type
Rural        125
Suburban     625
Urban       1625
Name: ride_id, dtype: int64

In [5]:
# Total Drivers
totalDrivers = cityDataDF["driver_count"].sum()
totalDriversSeries = cityDataDF.groupby(["type"]).sum()["driver_count"]
totalDriversSeries

type
Rural         78
Suburban     490
Urban       2405
Name: driver_count, dtype: int64

In [6]:
# Total Fares
totalFares = pyberDataDF["fare"].sum()
totalFaresSeries = pyberDataDF.groupby(["type"]).sum()["fare"]
totalFaresSeries

type
Rural        4327.93
Suburban    19356.33
Urban       39854.38
Name: fare, dtype: float64

In [7]:
# Average Fare per Ride
avgRideFareSeries = totalFaresSeries / totalRidesSeries
avgRideFareSeries

type
Rural       34.623440
Suburban    30.970128
Urban       24.525772
dtype: float64

In [8]:
# Average Fare per Driver
avgDriverFareSeries = totalFaresSeries / totalDriversSeries
avgDriverFareSeries

type
Rural       55.486282
Suburban    39.502714
Urban       16.571468
dtype: float64

In [21]:
#Create Summary Data Frame
pyberSummaryDF = pd.DataFrame(
    {"Total Rides": totalRidesSeries,
    "Total Drivers": totalDriversSeries,
    "Total Fares": totalFaresSeries,
    "Average Fare per Ride": avgRideFareSeries,
    "Average Fare per Driver": avgDriverFareSeries,
    })

#Format Summary DataFrame
pyberSummaryDF.index.name = None
pyberSummaryDF["Total Fares"] = pyberSummaryDF["Total Fares"].map("${:,.2f}".format)
pyberSummaryDF["Average Fare per Ride"] = pyberSummaryDF["Average Fare per Ride"].map("${:,.2f}".format)
pyberSummaryDF["Average Fare per Driver"] = pyberSummaryDF["Average Fare per Driver"].map("${:,.2f}".format)


pyberSummaryDF

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
Rural,125,78,"$4,327.93",$34.62,$55.49
Suburban,625,490,"$19,356.33",$30.97,$39.50
Urban,1625,2405,"$39,854.38",$24.53,$16.57

In [22]:
#PART 2 - Create Multiple Line Plot fo the Sum of Fares for each City Type
pyberDataDF

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban
...,...,...,...,...,...,...
2370,Michaelberg,2019-04-29 17:04:39,13.38,8550365057598,6,Rural
2371,Lake Latoyabury,2019-01-30 00:05:47,20.76,9018727594352,2,Rural
2372,North Jaime,2019-02-10 21:03:50,11.11,2781339863778,1,Rural
2373,West Heather,2019-05-07 19:22:15,44.94,4256853490277,4,Rural
2374,Newtonview,2019-04-25 10:20:13,55.84,9990581345298,1,Rural